@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <table id="recipeTable" class="table">
            @* <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                
            </tbody> *@
        </table>
    </p>
</div>

<script type="module" >
    // import axios from 'axios';
    // const axios = ('axios').default;
    const axios = require(`axios`).default;

    let Recipes = [];
    axios.get(`/api/Recipes/GetRecipes`)
    async function GetRecipes() {
        await axios.get(`/api/Recipes/GetRecipes`)
            .then((res) => {
                Recipes = res.data
            })
            .catch(error => {
                alert(`Counldn't get recipes`);
            });
    }
    //GetRecipes();
    console.log(getRecipes);

    async function displayRecipes{
        const table = document.querySelector(`#recipeTable`);
        let s = "";
            s += `<thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">User</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Date Published</th>
                    <th scope="col">Current Status</th>
                </tr>
            </thead>`;
        for (let r of Recipes) {
            s += `<tbody>
                <tr class="table-active">
                    <td>${r.RecipeName} </td>
                    <td>${r.User}</td>
                    <td>${r.Calories}</td>
                    <td>${r.DatePublished}</td>
                    <td>${r.CurrentStatus}</td>
                </tr>
            </tbody>`
        }
        table.innerHTML = "";
        table.innerHTML = s;
    }
    

</script>
