@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                
            </tbody>
        </table>
    </p>
</div>
@* https://unpkg.com/axios/dist/axios.min.js *@

<script type="module" >
    // import axios from 'axios';
   // const axios = require('axios');

    console.log("GetRecipes")
    // axios.get("/api/recipes/GetRecipes")
    //     .then(response => {
    //         console.log()
    //     })
</script>
